<div class="card" style="height: 70%; margin:10px">
  <div class="card-header">
    <h5>Dish</h5>
    <button (click)="onDownloadReportClick()">Download Report</button>
  </div>
  <div class="card-body" style="overflow-y: scroll; height:100%; padding:2px">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <td *ngFor="let head of headerList" style="font-weight: 700">{{head.header}}</td>
      </thead>
      <tbody *ngIf="dataList.length">
        <tr *ngFor="let data of dataList">
          <td *ngFor="let head of headerList">
            <span *ngIf="head.header!=='Status'">
              {{data[head.mapTo]}}
            </span>
            <span *ngIf="head.header==='Status'">
              <span *ngFor="let act of actionList">
                <button type="button" *ngIf="data['status'] !== 'true' && data['status'] !== true">
                  <i class="{{act.icon}}" aria-hidden="true" (click)="processActions(act.action, data)"> Done</i>
                </button>
                <span *ngIf="data['status'] === 'true'">
                  <i class="fa fa-check" aria-hidden="true"> Completed</i>
                </span>
              </span>
            </span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="dataList.length === 0">
        <tr>
          <td>
            <span>
              No records to show.
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>